/* styles/IdeaExamplesCarousel.module.css */
.carouselContainer {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
    overflow: hidden;
  }
  
  .carouselItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
  }
  
  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}

  .carouselItem.active {
    display:block; 
    /* The duration of this animation is connected to the setInterval function in the carousel.js file
    */
    animation: fadeInOut 3s 1;   
    
  }
  
  .ideaContent {
    display: flex;
    height: 100%;
  }
  
  .imageContainer {
    flex: 0 0 33.333%; /* Takes up 1/3 of the width */
    padding: 10px;
  }
  
  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .textContainer {
    flex: 0 0 66.666%; /* Takes up 2/3 of the width */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .textContainer h3 {
    margin-bottom: 10px;
  }