.landing_carouselContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.landing_carousel_carouselItem {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:none;    
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}


.landing_carousel_carouselItem.active {
    display:block; 
    /* The duration of this animation is connected to the setInterval function in the carousel.js file
    */
    animation: fadeInOut 3s;  
    
}

.landing_carousel_ideaContent {
    display: flex;
    height: 100%;
}

.landing_carousel_imageContainer {
    flex: 0 0 33.333%;
    padding: 10px;
}

.landing_carousel_imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.landing_carousel_textContainer {
    flex: 0 0 66.666%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


